.Page {

    min-height: 90%;

    & #welcomeImg {
        width: 20%;
        height: auto;
        margin:auto
    }

    & form {
        width: 100%;
        margin: auto;
        background-color: #11976a;
        padding: 20px;
    }

    & .small-form {
        width: 25%;
    }
}